[submodule "Libraries/kenwoodfox-kicad-libraries"]
	path = Libraries/kenwoodfox-kicad-libraries
	url = https://github.com/KenwoodFox/kenwoodfox-kicad-libraries
[submodule "Libraries/thermocline-kicad-libraries"]
	path = Libraries/thermocline-kicad-libraries
	url = https://github.com/Team-Thermocline/thermocline-kicad-libraries
